*.venv/
**.venv/

*.vscode/
**.vscode/

*migrations/
**migrations/

.env

*media/
**media/

*__pycache__/
**__pycache__/
*/__pycache__/
**/__pycache__/

corona-free-dark-bootstrap-admin-template-1.0.0.zip
**/corona-free-dark-bootstrap-admin-template-1.0.0