{% extends 'toolz/base.html' %}
{% load i18n static %}
{% load get_user %}

{% block content %}
{% get_user request=request as user %}
<div class="page-header">
    <h3 class="page-title"> Alchemist Tools </h3>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'frontend:dashboard' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Change Password</li>
      </ol>
    </nav>
</div>

  <div class="row">

    <div class="col grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Change Password</h4>
          {% for message in messages %}
              <div class="mt-2 alert {{message.tags}} alert-dismissible fade show" role="alert">
                  {{message}}
                  {% comment %} <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> {% endcomment %}
              </div>
        {% endfor %}
          <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
            <div class="">
              <p class="mb-1">Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
              <form method="POST" action="{% url 'frontend:change_password' %}">
                {% csrf_token %}
                <div class="form-group">
                  <b>{{form.old_password.label_tag}}</b>
                  {{form.old_password}}
                </div>
                <div class="form-group">
                  <b>{{form.password.label_tag}}</b>
                  {{form.password}}
                </div>
                <div class="form-group">
                  <b>{{form.confirm_password.label_tag}}</b>
                  {{form.confirm_password}}
                </div>
                <div class="text-center d-flex d-md-block d-xl-flex flex-row">
                    <button type="submit" class="btn btn-primary btn-block enter-btn mr-2 col">Submit</button>
                    <button onclick="window.history.back();" class="btn btn-light col-md-4 col">Cancel</button>
                </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    
  </div>
{% endblock content %}